<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <link rel="stylesheet" href="/stylesheets/gamestorepage.css">
</head>
<body>
    <%- include('partials/header',{title})-%>
    <%- include('partials/navbar')-%>
    <div class="gridContainer">
        <% games.forEach((game)=>{ %>
            <form action="/game/<%=game.id%>" method="get">
                <div class="card" style="background-image: url('<%=game.imageurl%>');">
                    <button type="submit"><h1><%=game.columngame%></h1></button>
                </div>
            </form>
            <%})%>
        </div>
        <div class='someclass' style="background-image: url('/images/placeholder.jpeg');">
            <h2>Developer : <%=games[0].columndeveloper%></h2>
        </div>
    <%- include('partials/footer')-%>
</body>
</html>